{{ define "main" }}

<!-- page-header partial deleted so background image can be resized auto -->
{{ "<!-- page title -->" | safeHTML }}

{{ $img := .Params.bg_image }}
{{ $imagePath := printf "/%s" $img }}
{{ $res := resources.Get $imagePath }}
{{ $bg550 := $res.Resize "550x" }}
{{ $bg750 := $res.Resize "750x" }}
{{ $bg950 := $res.Resize "950x" }}
{{ $bg1700 := $res.Resize "1700x" }}

{{ $ceoimg := .Params.ceo.image }}
{{ $ceoimagePath := printf "/%s" $ceoimg }}
{{ $resceo := resources.Get $ceoimagePath }}
{{ $ceo400 := $resceo.Resize "400x" }}
{{ $ceo800 := $resceo.Resize "800x" }}
{{ $ceo1150 := $resceo.Resize "1150x" }}


<style>
  @media (max-width: 700px) {
  .bg-title {
  background-image: url('{{ $bg550.RelPermalink }}');
    }
  }
  @media (min-width: 701px) {
  .bg-title {
  background-image: url('{{ $bg750.RelPermalink }}');
    }
  }
    @media (min-width: 901px) {
  .bg-title {
  background-image: url('{{ $bg950.RelPermalink }}')
    }
  }
  @media (min-width: 1301px) {
  .bg-title {
  background-image: url('{{ $bg1700.RelPermalink }}')
    }
  }

  @media (max-width: 700px) {
  .bg-ceo {
  background-image: url('{{ $ceo400.RelPermalink }}');
    }
  }
  @media (min-width: 701px) {
  .bg-ceo {
  background-image: url('{{ $ceo800.RelPermalink }}');
    }
  }
    @media (min-width: 901px) {
  .bg-ceo {
  background-image: url('{{ $ceo1150.RelPermalink }}')
    }
  }
  
</style>

<section class="bg-title page-title overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="text-white font-weight-bold">{{ .Title }}</h2>
				<ol class="breadcrumb">
					<li><a href="{{ site.BaseURL }}">{{ site.Params.home }}</a></li>
					<li>{{ .Title }}</li>
				</ol>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /page title -->" | safeHTML }}

{{ with .Params.ceo }}
{{ if .enable }}
{{ "<!-- ceo section -->" | safeHTML }}
<section>
	<div class="container py-3">
		<div class="row rounded">
			{{ "<!-- ceo image -->" | safeHTML }}
			<div class="col-lg-5 rounded-left ceo-image bg-ceo"></div>
			<div class="col-lg-7">
				{{ "<!-- ceo content -->" | safeHTML }}
				<div class="p-5">
					<h2 class="section-title section-title-border-half-white">{{ .title | markdownify }}</h2>
					<p class="">{{ .content | markdownify }}</p>
					<h5 class="">{{ .name | markdownify }}</h5>
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /ceo section -->" | safeHTML }}
{{ end }}
{{ end }}



{{ end }}