{{ define "main" }}

{{ partial "page-header.html" . }}

{{ with .Params.ceo }}
{{ if .enable }}
{{ "<!-- ceo section -->" | safeHTML }}
<section>
	<div class="container py-3">
		<div class="row rounded">
			{{ "<!-- ceo image -->" | safeHTML }}
			<div class="col-lg-5 rounded-left ceo-image"></div>
			<div class="col-lg-7">
				{{ "<!-- ceo content -->" | safeHTML }}
				<div class="p-5">
					<h2 class="section-title section-title-border-half-white">{{ .title | markdownify }}</h2>
					<p class="">{{ .content | markdownify }}</p>
					<h5 class="">{{ .name | markdownify }}</h5>
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /ceo section -->" | safeHTML }}
{{ end }}
{{ end }}



{{ end }}