{{ define "main" }}

<!-- page-header partial deleted so background image can be resized auto -->
{{ "<!-- page title -->" | safeHTML }}

{{ $img := .Params.bg_image }}
{{ $imagePath := printf "/%s" $img }}
{{ $res := resources.Get $imagePath }}
{{ $bg550 := $res.Resize "550x" }}
{{ $bg750 := $res.Resize "750x" }}
{{ $bg950 := $res.Resize "950x" }}
{{ $bg1700 := $res.Resize "1700x" }}

<style>
  @media (max-width: 700px) {
  .bg-title {
  background-image: url('{{ $bg550.RelPermalink }}');
    }
  }
  @media (min-width: 701px) {
  .bg-title {
  background-image: url('{{ $bg750.RelPermalink }}');
    }
  }
    @media (min-width: 901px) {
  .bg-title {
  background-image: url('{{ $bg950.RelPermalink }}')
    }
  }
  @media (min-width: 1301px) {
  .bg-title {
  background-image: url('{{ $bg1700.RelPermalink }}')
    }
  }
</style>

<section class="bg-title page-title overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="text-white font-weight-bold">{{ .Title }}</h2>
				<ol class="breadcrumb">
					<li><a href="{{ site.BaseURL }}">{{ site.Params.home }}</a></li>
					<li>{{ .Title }}</li>
				</ol>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /page title -->" | safeHTML }}

{{ "<!-- contact -->" | safeHTML }}
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 offset-lg-1 col-md-5">
				<h2 class="section-title">{{ i18n "contact_us" }}</h2>
				<ul class="pl-0">
					{{ "<!-- contact items -->" | safeHTML }}
					{{ $data := index .Site.Data }}
					{{- with $data.logocontact.contact_info }}
					{{ range .contact }}
					<li class="d-flex mb-30">
						<i class="mr-4"><img height="80" width="80" src="{{ .icon | relURL }}" alt="{{ .name | markdownify }}"/></i>
						<div class="align-self-center font-primary">
							<div class="text-dark">{{ .content | markdownify }}</div>
						</div>
					</li>
					{{ end }}
					{{ end }}

				</ul>
			</div>
			{{ "<!-- form -->" | safeHTML }}
			<div class="col-lg-6 col-md-7">
				<div class="p-5 rounded box-shadow">
					<form name="ELJPcontact" action="/merci/" method="POST" accept-charset="UTF-8" class="row" netlify-honeypot="ELJP-bot-field" data-netlify="true">
						<input type="hidden" name="form-name" value="ELJPcontact">
						<input style="display:none" name="ELJP-bot-field">
						<div class="col-lg-12">
							<h3 class="mb-4">{{ i18n "contact_form" }}</h3>
						</div>
						<div class="col-lg-6">
							<input type="text" name="name" id="name" class="form-control" placeholder="Votre Nom" required>
						</div>
						<div class="col-lg-6">
							<input type="email" class="form-control" name="email" id="email" placeholder="Votre Adresse Email" required>
						</div>
						<div class="col-lg-12">
							<input type="tel" class="form-control" name="phone" id="email" placeholder="Votre Téléphone (facultatif)">
						</div>
						<div class="col-lg-12">
							<input type="text" name="subject" id="subject" class="form-control" placeholder="Sujet" required>
						</div>
						<div class="col-lg-12">
							<textarea class="form-control p-2" name="message" id="message" placeholder="Détails utiles à l'établissement du devis..." required
								style="height: 150px;"></textarea>
						</div>
						<div class="col-lg-12">
							<button class="btn btn-primary" type="submit">{{ i18n "submit" }}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /contact -->" | safeHTML }}


{{ end }}