{{ define "main" }}

<style>
	.image-thanks {
	background-image: url('{{ .Params.bg_image }}');
	}
</style>

{{ "<!-- merci page -->" | safeHTML }}
<section class="page-404 image-thanks" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 text-center" style="margin-top:-30vh">
				<h1 class="text-white font-weight-bold mb-2">Merci !</h1>
				<h4 class="text-white mb-40">Votre message a été envoyé avec succès, nous vous contacterons dans les meilleurs délais.</h4>
				<a href="{{ site.BaseURL | relLangURL }}" class="btn btn-primary"> <i class="ti-angle-double-left"></i>Retour à l'Accueil</a>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /merci page-->" | safeHTML }}

{{ end }}