{{ define "main" }}

<!-- page-header partial deleted so background image can be resized auto -->
{{ "<!-- page title -->" | safeHTML }}

{{ $img := .Params.bg_image }}
{{ $imagePath := printf "/%s" $img }}
{{ $res := resources.Get $imagePath }}
{{ $bg550 := $res.Resize "550x" }}
{{ $bg750 := $res.Resize "750x" }}
{{ $bg950 := $res.Resize "950x" }}
{{ $bg1700 := $res.Resize "1700x" }}

<style>
  @media (max-width: 700px) {
  .bg-title {
  background-image: url('{{ $bg550.RelPermalink }}');
    }
  }
  @media (min-width: 701px) {
  .bg-title {
  background-image: url('{{ $bg750.RelPermalink }}');
    }
  }
    @media (min-width: 901px) {
  .bg-title {
  background-image: url('{{ $bg950.RelPermalink }}')
    }
  }
  @media (min-width: 1301px) {
  .bg-title {
  background-image: url('{{ $bg1700.RelPermalink }}')
    }
  }
</style>

<section class="bg-title page-title overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="text-white font-weight-bold">{{ .Title }}</h2>
				<ol class="breadcrumb">
					<li><a href="{{ site.BaseURL }}">{{ site.Params.home }}</a></li>
					<li>{{ .Title }}</li>
				</ol>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /page title -->" | safeHTML }}

{{ "<!-- pricing -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="post-content">
          {{ .Content }}
        </div>
      </div>
      {{ "<!-- pricing item -->" | safeHTML }}
      {{ range .Params.pricing_table }}
      <div class="col-lg-4 col-sm-6 mb-md-50">
        <div class="card h-100">
          <div class="card-header pb-0 rounded-0">
            <h3 class="text-color mb-0">{{ .title }}</h3>
            <i class="square-icon translateY-20 float-right {{ .icon }}"></i>
          </div>
          <div class="card-body pt-5 px-4">
            <h2 class="font-weight-bold mb-3">{{ .value }}<span class="h5">/{{ .unit }}</span></h2>
            <ul class="pl-0 mb-30">
              {{ range .service_list }}
              <li class="font-secondary text-color py-10 border-bottom">
                <i class="text-primary mr-2 ti-arrow-circle-right"></i>{{ . }}
              </li>
              {{ end }}
            </ul>
          </div>
          <div class="card-footer border-0 py-0">
            <a href="{{ .link | safeURL }}" class="btn btn-primary translateY-25">{{ i18n "buy_now" }}</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ "<!-- /pricing -->" | safeHTML }}

{{ end }}