{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- page-header partial deleted so background image can be resized auto -->
{{ "<!-- page title -->" | safeHTML }}

{{ $img := .Params.bg_image }}
{{ $imagePath := printf "/%s" $img }}
{{ $res := resources.Get $imagePath }}
{{ $bg550 := $res.Resize "550x" }}
{{ $bg750 := $res.Resize "750x" }}
{{ $bg950 := $res.Resize "950x" }}
{{ $bg1700 := $res.Resize "1700x" }}

<style>
  @media (max-width: 700px) {
  .bg-title {
  background-image: url('{{ $bg550.RelPermalink }}');
    }
  }
  @media (min-width: 701px) {
  .bg-title {
  background-image: url('{{ $bg750.RelPermalink }}');
    }
  }
    @media (min-width: 901px) {
  .bg-title {
  background-image: url('{{ $bg950.RelPermalink }}')
    }
  }
  @media (min-width: 1301px) {
  .bg-title {
  background-image: url('{{ $bg1700.RelPermalink }}')
    }
  }
</style>

<section class="bg-title page-title overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="text-white font-weight-bold">{{ .Title }}</h2>
				<ol class="breadcrumb">
					<li><a href="{{ site.BaseURL }}">{{ site.Params.home }}</a></li>
					<li>{{ .Title }}</li>
				</ol>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /page title -->" | safeHTML }}

{{ "<!-- project -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="post-content mb-5">
          {{ .Content }}
        </div>
      </div>
      <div class="col-lg-12">
        <div class="project-menu text-center">
          <ul class="controls list-inline">
            {{ "<!-- filter item list -->" | safeHTML }}
            <li class="list-inline-item control active" data-filter="all">{{ i18n "all" }}</li>
            {{ $categories := slice }}
            {{ range .Data.Pages }}
            {{ $categories = $categories | append .Params.Category }}
            {{ end }}
            {{ range ( $categories | uniq ) }}
            <li class="list-inline-item control" data-filter="{{ . | urlize }}">{{ . | humanize }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    <div class="row filtr-container">
      {{ range .Data.Pages }}
      {{ .Render "project" }}
      {{ end }}
    </div>
  </div>
</section>
{{ "<!-- /project -->" | safeHTML }}

{{ end }}