// Color Variables
$primary-color: #D32F2F;
$secondary-color: #1976D2;
$text-color: #757575;
$text-color-dark: #222;
$border-color: #e5e5e5;
$body-color: #fff;
$bg-gray: #f5f5f5;
$black: #000;
$white: #fff;

/* ===== lato-v24-latin ===== */
    @font-face {
        font-family: 'lato-v24-latin';
        src: url('/assets/fonts/lato-v24-latin/lato-v24-latin-100-italic.woff2') format('woff2');
        font-weight: 100;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lato-v24-latin';
        src: url('/assets/fonts/lato-v24-latin/lato-v24-latin-300-italic.woff2') format('woff2');
        font-weight: 300;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lato-v24-latin';
        src: url('/assets/fonts/lato-v24-latin/lato-v24-latin-italic.woff2') format('woff2');
        font-weight: 500;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lato-v24-latin';
        src: url('/assets/fonts/lato-v24-latin/lato-v24-latin-700-italic.woff2') format('woff2');
        font-weight: 700;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lato-v24-latin';
        src: url('/assets/fonts/lato-v24-latin/lato-v24-latin-900-italic.woff2') format('woff2');
        font-weight: 900;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lato-v24-latin';
        src: url('/assets/fonts/lato-v24-latin/lato-v24-latin-100.woff2') format('woff2');
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lato-v24-latin';
        src: url('/assets/fonts/lato-v24-latin/lato-v24-latin-300.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lato-v24-latin';
        src: url('/assets/fonts/lato-v24-latin/lato-v24-latin-regular.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lato-v24-latin';
        src: url('/assets/fonts/lato-v24-latin/lato-v24-latin-700.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'lato-v24-latin';
        src: url('/assets/fonts/lato-v24-latin/lato-v24-latin-900.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }

/* ===== roboto-v32-latin ===== */
    @font-face {
        font-family: 'roboto-v32-latin';
        src: url('/assets/fonts/roboto-v32-latin/roboto-v32-latin-100-italic.woff2') format('woff2');
        font-weight: 100;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'roboto-v32-latin';
        src: url('/assets/fonts/roboto-v32-latin/roboto-v32-latin-300-italic.woff2') format('woff2');
        font-weight: 300;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'roboto-v32-latin';
        src: url('/assets/fonts/roboto-v32-latin/roboto-v32-latin-italic.woff2') format('woff2');
        font-weight: 400;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'roboto-v32-latin';
        src: url('/assets/fonts/roboto-v32-latin/roboto-v32-latin-500-italic.woff2') format('woff2');
        font-weight: 500;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'roboto-v32-latin';
        src: url('/assets/fonts/roboto-v32-latin/roboto-v32-latin-700-italic.woff2') format('woff2');
        font-weight: 700;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'roboto-v32-latin';
        src: url('/assets/fonts/roboto-v32-latin/roboto-v32-latin-900-italic.woff2') format('woff2');
        font-weight: 900;
        font-style: italic;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'roboto-v32-latin';
        src: url('/assets/fonts/roboto-v32-latin/roboto-v32-latin-100.woff2') format('woff2');
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'roboto-v32-latin';
        src: url('/assets/fonts/roboto-v32-latin/roboto-v32-latin-300.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'roboto-v32-latin';
        src: url('/assets/fonts/roboto-v32-latin/roboto-v32-latin-regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'roboto-v32-latin';
        src: url('/assets/fonts/roboto-v32-latin/roboto-v32-latin-500.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'roboto-v32-latin';
        src: url('/assets/fonts/roboto-v32-latin/roboto-v32-latin-700.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'roboto-v32-latin';
        src: url('/assets/fonts/roboto-v32-latin/roboto-v32-latin-900.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        font-display: swap;
    }


// Font Variables
$primary-font: 'lato-v24-latin', 'Open Sans', sans-serif;
$secondary-font: 'roboto-v32-latin', Arial, sans-serif;