/* 25.2 footer link */
.footer-links {
  padding-left: 18px;

  li {
    margin-bottom: 10px;
    position: relative;

    &::before {
      position: absolute;
      content: ">";
      top: 10%;
      left: -20px;
      height: 12px;
      width: auto;
      color: #8B0022;
      font-weight: 900;
    }

    a {
      color: $white;
      font-family: $secondary-font;
      font-size: 14px;
      transition: .2s ease;
      display: block;

      &:hover {
        text-decoration: underline;
        color: $primary-color;
      }
    }
  }
}

/* back to top button */
.back-to-top {
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: $white;
  background: $secondary-color;
  top: -25px;
  right: 10px;
  border: 1px solid #8B0022;
  text-align: center;
  display: block;
  transition: .2s ease;

  i {
    line-height: 50px;
  }

  &:hover {
    border-color: $primary-color;
  }

  &:focus {
    outline: 0;
  }
}