<!-- footer -->
<footer class="bg-secondary">
	<div class="py-50 border-bottom" style="border-color: #454547 !important">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-4">
					<div class="mb-5 mb-md-0 text-center text-md-left">
						<!-- logo -->
						{{ $data := index .Site.Data }}
						{{- with $data.logocontact.logo_footer }}
						<a class="mb-30 d-inline-block" href="{{ site.BaseURL | relLangURL }}">
							<picture><source width="180" height="44" srcset="{{ $data.logocontact.logo_footer.desktop | absURL }}" media="(min-width: 700px)"><img class="img-fluid" width="180" height="44" srcset="{{ $data.logocontact.logo_footer.mobile | absURL }}" alt="{{ site.Title }}"></picture>
						</a>
						{{ with $data.logocontact.footer_content }}<p class="text-white mb-30">{{ . | markdownify }}</p>{{ end }}
					</div>
					{{ end }}
				</div>
				<!-- footer links -->
				<div class="col-lg-2 col-md-4 col-6">
					<h4 class="text-white mb-4">{{ i18n "services" }}</h4>
					<ol class="footer-links">
						{{ range ( where site.RegularPages "Type" "prestations") }}
						<li><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></li>
						{{ end }}
					</ol>
				</div>
				<!-- footer links -->
				<div class="col-lg-2 col-md-4 col-6">
					<h4 class="text-white mb-4">{{ i18n "quick_links" }}</h4>
					<ol class="footer-links">
						{{ range site.Menus.main }}
						{{ if not .HasChildren }}
						<li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
						{{ end }}
						{{ end }}
					</ol>
				</div>
			</div>
		</div>
	</div>
	<!-- copyright -->
	<div class="pt-4 pb-3 position-relative">
		<div class="container">
			<div class="row">
				{{ $data := index .Site.Data }}
				{{- with $data.logocontact.copyright }}
				<div class="col-lg-6 col-md-5">
					<p class="text-white text-center text-md-left">{{ . | markdownify }}</p>
				</div>
				{{ end }}
				<div class="col-lg-6 col-md-7">
					<ul class="list-inline text-center text-md-right">
						{{ range site.Menus.footer }}
						<li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
							<a class="font-secondary text-white" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
						</li> 
						{{ end }}
						<li class="list-inline-item mx-lg-3 my-lg-0 mx-2 my-2">
							<a class="font-secondary text-white" href="{{ .Site.BaseURL }}mentionslegales">Mentions légales</a>
						</li> 
					</ul>
				</div>
			</div>
		</div>
		<!-- back to top -->
		<button class="back-to-top" aria-label="retour en haut de page">
			<i><img width="50" height="50" src="/assets/img/icons8-arrow-up.png" alt="retour en haut de page"/></i>
		</button>
	</div>
</footer>
<!-- /footer -->


</body>

</html>