<head>
  <meta charset="utf-8">
  <title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>

  <link rel="preload" href="https://fonts.gstatic.com">
{{ range site.Params.plugins.css}}
  <!-- title meta tag -->
  <meta content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}" property="og:title">
  
  <!-- keyword meta tag -->
  <meta content="{{ delimit .Keywords ", " }}" name="keywords">

  <!-- description meta tag -->
  <meta content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Params.description }}{{ if eq $isHomePage false }} - {{ .Description }}{{ end }}" property="og:description">

  <!-- multilingual SEO optimizations -->
  {{ if .IsTranslated }}
  {{ range .Page.AllTranslations }}
  <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
  {{ end }}
  {{ end }}

  {{ with .Params.image }}
  <meta property="og:image" content="{{ . | absURL }}" />
  {{ end }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}
  {{ site.Params.custom_script | safeHTML }}

  {{ partialCached "style.html" . }}

  <meta name="google-site-verification" content="ElYNIIz4NA5Qx10DhGnU-1yvWgjOJ0B2BmFk1vYfatw" />

</head>