<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
  <!-- <title>{{ .Title }}</title> -->

  <!-- mobile responsive meta -->
  <!-- <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}"> -->
  
<meta property="og:site_name" content="{{ $.Site.Title }}" />
<meta property="og:title" content="{{ $.Site.Title }}" />

{{ if .IsPage }}
  <title>{{ .Title }} | {{ $.Site.Title }}</title>
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Description }}" />
  <meta name="description" content="{{ .Description }}" />
{{ else }}
  <title>{{ $.Site.Title }}</title>
  <meta property="og:title" content="{{ $.Site.Title }}" />
  <meta property="og:description" content="{{ site.Params.description }}" />
  <meta name="description" content="{{ site.Params.description }}" />
{{ end }}

<!-- webfont
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
<link rel="stylesheet preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&display=swap" as="style" type="text/css" crossorigin="anonymous">
-->

<!-- bootstrap & CSS-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="plugins/slick/slick.css">
<link rel="stylesheet" href="plugins/slick/slick-theme.css">

<!-- Main Stylesheet -->
{{ $styles := resources.Get "assets/scss/style.scss" | toCSS | minify }}
<link rel="stylesheet" as="style" href="{{ $styles.Permalink }}" media="screen" >

  <!-- multilingual SEO optimizations -->
  {{ if .IsTranslated }}
  {{ range .Page.AllTranslations }}
  <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
  {{ end }}
  {{ end }}

  {{ with .Params.image }}
  <meta property="og:image" content="{{ . | absURL }}" />
  {{ end }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/google_analytics_async.html" . }}
  {{ site.Params.custom_script | safeHTML }}

  {{ partialCached "style.html" . }}

    <!-- JS Plugins -->
{{ range site.Params.plugins.js}}
<script defer src="{{ .link | absURL }}" {{.attributes | safeHTMLAttr}}></script>
{{ end }}

<!-- Main Script -->
{{ $script := resources.Get "assets/js/script.js" | minify}}
<script defer src="{{ $script.Permalink }}"></script>

<meta name="google-site-verification" content="ElYNIIz4NA5Qx10DhGnU-1yvWgjOJ0B2BmFk1vYfatw" />

</head>