{{ define "main" }}

<style>
	.image-404 {
	background-image: url('assets/img/404-page.jpg');
	}
</style>

{{ "<!-- 404 page -->" | safeHTML }}
<section class="page-404 image-404" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h1 class="text-white font-weight-bold mb-2">Oh oh !</h1>
				<h4 class="text-white mb-40">Désolé mais cette page est introuvable.</h4>
				<a href="{{ site.BaseURL | relLangURL }}" class="btn btn-primary"> <i class="ti-angle-double-left"></i>Retour à l'accueil</a>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /404 page -->" | safeHTML }}

{{ end }}