{{ define "main" }}

<style type="text/css">
    @media (max-width: 576px) {
    .hero-bg-responsive {
    background-image: url('/images/service/depannage-w400.jpg') !important;
	}
	.mobile-disable {
		background-image: none !important;
	}
  }
  	@media (max-width: 800px) {
    .hero-bg-responsive {
    background-image: url('/images/service/depannage-w800.jpg') !important;
    }
	.mobile-disable {
		background-image: none !important;
	}
  }
</style>


{{ if .Params.slider.enable }}
<section>
	<div class="hero-slider position-relative hero-bg-responsive">
		<!-- slider item -->
		{{ range .Params.slider.slider_item }}
		<div class="hero-slider-item py-160 overlay mobile-disable" style="background-image: url('{{ .bg_image | absURL }}')" data-text="{{ .pagination_name }}" role="img" aria-label="Photos illustrant les prestations d'ELJP">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="hero-content">
							<h1 class="font-weight-bold text-white mb-3" data-duration-in=".5" data-animation-in="fadeIn{{.animation_from | humanize}}" data-delay-in=".4">
								{{ .title | markdownify }}</h1>
							<p class="text-white mb-50" data-duration-in=".5" data-animation-in="fadeIn{{.animation_from | humanize}}" data-delay-in=".7">
								{{ .content | markdownify }}
							</p>
							{{ if .button.enable }}
							<a data-duration-in=".5" data-animation-in="fadeIn{{.animation_from | humanize}}" data-delay-in="1"
								href="{{ .button.link | relLangURL }}" class="btn btn-outline text-uppercase">{{ .button.label }}</a>
							{{ end }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ end }}
	</div>
</section>
{{ end }}
{{ end }}