{{ define "main" }}

{{ $data := index .Site.Data }}
{{- with $data.logocontact }}


<style type="text/css">
    @media (max-width: 700px) {
    .hero-bg-responsive {
    background-image: url('{{ $data.logocontact.bg_mobile | absURL }}') !important;
	background-repeat: no-repeat;
	background-size: cover;
	}
	.mobile-disable {
		background-image: none !important;
	}
	.overlay {
		height: 60vh;
	}
  }
</style>
{{ end }}

{{ $data := index .Site.Data }}
{{- with $data.homepage.slider }}

<section>
	<div class="hero-slider position-relative hero-bg-responsive">
		<!-- slider item -->
		{{ range .slider_item }}
		<div class="hero-slider-item py-160 overlay mobile-disable" style="background-image: url('{{ .bg_image | absURL }}')" data-text="{{ .pagination_name }}" role="img" aria-label="Photos illustrant les prestations d'ELJP">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="hero-content">
							<h1 class="text-white mb-3">
								{{ .title | markdownify }}</h1>
							<p class="text-white mb-50">
								{{ .content | markdownify }}
							</p>
							{{ if .button.enable }}
							<a href="{{ .button.link | relLangURL }}" class="btn btn-outline text-uppercase">{{ .button.label }}</a>
							{{ end }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ end }}
	</div>
</section>
{{ end }}
{{ end }}