{{ define "main" }}

<!-- page-header partial deleted so background image can be resized auto -->
{{ "<!-- page title -->" | safeHTML }}

{{ $img := .Params.bg_image }}
{{ $imagePath := printf "/%s" $img }}
{{ $res := resources.Get $imagePath }}
{{ $bg550 := $res.Resize "550x" }}
{{ $bg750 := $res.Resize "750x" }}
{{ $bg950 := $res.Resize "950x" }}
{{ $bg1700 := $res.Resize "1700x" }}

<style>
  @media (max-width: 700px) {
  .bg-title {
  background-image: url('{{ $bg550.RelPermalink }}');
    }
  }
  @media (min-width: 701px) {
  .bg-title {
  background-image: url('{{ $bg750.RelPermalink }}');
    }
  }
    @media (min-width: 901px) {
  .bg-title {
  background-image: url('{{ $bg950.RelPermalink }}')
    }
  }
  @media (min-width: 1301px) {
  .bg-title {
  background-image: url('{{ $bg1700.RelPermalink }}')
    }
  }
</style>

<section class="bg-title page-title overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="text-white font-weight-bold">{{ .Title }}</h2>
				<ol class="breadcrumb">
					<li><a href="{{ site.BaseURL }}">{{ site.Params.home }}</a></li>
					<li>{{ .Title }}</li>
				</ol>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /page title -->" | safeHTML }}

{{ "<!-- prestations single -->" | safeHTML }}
<section class="section">
	<div class="container">
		<div class="row">
			{{ "<!-- sidebar -->" | safeHTML }}
			<aside class="col-lg-4 order-lg-1 order-2">
				<ul class="service-menu pl-0 border rounded mb-50 overflow-hidden">
					{{ range (where site.RegularPages "Type" "prestations")}}
					<li class="border-bottom-not-last">
						<a class="d-block font-primary text-dark p-4" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
					</li>
					{{ end }}
				</ul>

				<script>
					(function () {
						const links = document.getElementsByTagName('a')
						const currentUrl = location.href
						for (const link of links) {
							if (link.href === currentUrl) {
								link.classList.add('active')
							}
						}
					}())
				</script>


				<div class="mb-50">
					<h5 class="mb-20">{{ i18n "free_consultation" }}</h5>
					<form action="{{ site.Params.contact_form_action | safeURL }}" method="POST" accept-charset="UTF-8" class="row">
						<div class="col-lg-12">
							<input type="text" class="form-control" name="name" id="name" placeholder="Votre Nom" required>
						</div>
						<div class="col-lg-12">
							<input type="email" class="form-control" name="email" id="email" placeholder="Votre Adresse Email" required>
						</div>
						<div class="col-lg-12">
							<input type="tel" class="form-control" name="phone" id="email" placeholder="Votre Téléphone (facultatif)">
						</div>
						<div class="col-lg-12">
							<input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" required>
						</div>
						<div class="col-lg-12">
							<textarea name="question" id="question" class="form-control p-2" placeholder="Détails utiles à l'établissement du devis..."
								style="height: 150px;"></textarea>
						</div>
						<div class="col-lg-12">
							<button class="btn btn-primary" type="submit">{{ i18n "submit" }}</button>
						</div>
					</form>
				</div>
			</aside>
			{{ "<!-- prestations single content -->" | safeHTML }}
			{{ $imagePath := printf "/%s" .Params.image }}
			{{ $res := resources.Get $imagePath }}
			{{- $ws := slice 450 800 1150 -}}
			{{- $srcset := slice -}}
			{{- range $ws -}}
			{{/* to avoid creating an image that is larger than the source */}}
			{{- if (le . $res.Width) -}}
			{{- $w := printf "%dx" . -}}
			{{- $url := ($res.Resize $w).RelPermalink | safeURL -}}
			{{- $fmt := printf "%s %dw" $url . -}}
			{{- $srcset = $srcset | append $fmt -}}
			{{- end -}}
			{{- end -}}
			{{- $set := delimit $srcset "," -}}
			{{ with $res }}
			<div class="col-lg-8 order-lg-2 order-1">
				<figure>
					<img class="img-fluid w-100 mb-60 rounded-top"      
					srcset="{{ $set }}"
					sizes="(max-width: 699px) 90vw, (min-width: 700px) 60vw"
					src="{{ $res.RelPermalink }}"
					alt="{{ .Title }}"
					width="100%"
					height="auto"/>
						</figure>
					{{ end }}
					<div class="post-content">
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /prestations single -->" | safeHTML }}

{{ end }}