{{ define "main" }}

<!-- page-header partial deleted so background image can be resized auto -->
{{ "<!-- page title -->" | safeHTML }}

{{ $img := .Params.bg_image }}
{{ $imagePath := printf "/%s" $img }}
{{ $res := resources.Get $imagePath }}
{{ $bg550 := $res.Resize "550x" }}
{{ $bg750 := $res.Resize "750x" }}
{{ $bg950 := $res.Resize "950x" }}
{{ $bg1700 := $res.Resize "1700x" }}

<style>
  @media (max-width: 700px) {
  .bg-title {
  background-image: url('{{ $bg550.RelPermalink }}');
    }
  }
  @media (min-width: 701px) {
  .bg-title {
  background-image: url('{{ $bg750.RelPermalink }}');
    }
  }
    @media (min-width: 901px) {
  .bg-title {
  background-image: url('{{ $bg950.RelPermalink }}')
    }
  }
  @media (min-width: 1301px) {
  .bg-title {
  background-image: url('{{ $bg1700.RelPermalink }}')
    }
  }
</style>

<section class="bg-title page-title overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="text-white font-weight-bold">{{ .Title }}</h2>
				<ol class="breadcrumb">
					<li><a href="{{ site.BaseURL }}">{{ site.Params.home }}</a></li>
					<li>{{ .Title }}</li>
				</ol>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /page title -->" | safeHTML }}

<section class="section pb-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="text-center">
					<figure>
						{{ if .Params.Image }}
						<img class="rounded-circle img-fluid" src="{{.Params.Image }}">
						{{else if .Params.Email}}
						<img class="rounded-circle img-fluid" src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon">
						{{ end }}
						<figcaption>
							<h5 class="font-weight-bold">
								{{ .Title }}
							</h5>
						</figcaption>
					</figure>
					<hr>
					{{ .Content }}
					<hr>
					<ul class="list-inline">
						{{ range .Params.Social }}
						<li class="list-inline-item"><a class="share-icon bg-secondary" href="{{ .link | safeURL}}"><i class="{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title text-center">
					<h2 class="section-title section-title-border">{{ i18n "posted_by" }} {{ .Title }}</h2>
				</div>
			</div>
			{{ range where site.RegularPages "Params.author" .Title }}
			<div class="col-lg-4 col-sm-6 mb-4">
				{{ .Render "post" }}
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{ end }}