{{ define "main" }}

<!-- page-header partial deleted so background image can be resized auto -->
{{ "<!-- page title -->" | safeHTML }}

{{ $img := .Params.bg_image }}
{{ $imagePath := printf "/%s" $img }}
{{ $res := resources.Get $imagePath }}
{{ $bg550 := $res.Resize "550x" }}
{{ $bg750 := $res.Resize "750x" }}
{{ $bg950 := $res.Resize "950x" }}
{{ $bg1700 := $res.Resize "1700x" }}

<style>
  @media (max-width: 700px) {
  .bg-title {
  background-image: url('{{ $bg550.RelPermalink }}');
    }
  }
  @media (min-width: 701px) {
  .bg-title {
  background-image: url('{{ $bg750.RelPermalink }}');
    }
  }
    @media (min-width: 901px) {
  .bg-title {
  background-image: url('{{ $bg950.RelPermalink }}')
    }
  }
  @media (min-width: 1301px) {
  .bg-title {
  background-image: url('{{ $bg1700.RelPermalink }}')
    }
  }
</style>

<section class="bg-title page-title overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="text-white font-weight-bold">{{ .Title }}</h2>
				<ol class="breadcrumb">
					<li><a href="{{ site.BaseURL }}">{{ site.Params.home }}</a></li>
					<li>{{ .Title }}</li>
				</ol>
			</div>
		</div>
	</div>
</section>
{{ "<!-- /page title -->" | safeHTML }}

{{ "<!-- team -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="post-content">
          {{ .Content }}
        </div>
      </div>
      {{ range .Data.Pages }}
      {{ "<!-- team member -->" | safeHTML }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card text-center h-100">
          <a href="{{ .Permalink }}">
            <img class="card-img-top" src="{{ .Params.Image | relURL }}" alt="team-member">
          </a>
          <div class="card-body card-body-2 pb-0 px-4">
            <a class="card-title h5 d-block" href="{{ .Permalink }}">{{ .Title }}</a>
            <h6 class="text-color mb-30">{{ .Params.Designation }}</h6>
            <ul class="list-inline border-top d-inline-block">
              {{ range .Params.Social }}
              <li class="list-inline-item">
                <a href="{{ .link | safeURL }}" class="text-color d-inline-block p-3"><i class="{{ .icon }}"></i></a>
              </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ "<!-- /team -->" | safeHTML }}

{{ end }}